import os
import pandas as pd
import time
import numpy as np
import nfl_data_py as nfl
import requests
from io import StringIO
import plotly.express as px
import dash
from dash import html, dcc, Input, Output, State, callback, dash_table, no_update, register_page
import dash_bootstrap_components as dbc
import math
